@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --clr-very-dark-gray: hsl(0, 0%, 17%);
  --clr-dark-gray: hsl(0, 0%, 59%);

  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}
/* body {
  display: flex;
  justify-content: center;
} */
